@import '@/styles/settings/colors';

.stat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: .8rem;
  justify-items: end;
}

.number {
  display: inline-block;
  font-size: 54pt;
  font-weight: 700;
  line-height: 1;
}

.message {
  width: max-content;
  display: inline-block;
  font-size: 15pt;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  color: rgba($dark, 0.75);
}
