@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '@/styles/settings/colors';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: $dark;
  background-color: $light;
  font-family: 'Montserrat', sans-serif;
}
