@import '@/styles/elements/links';
@import '@/styles/settings/colors';

.logo {
  display: flex;
  place-content: center;
}

.brand {
  @include non-link;

  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.2rem;
  background-color: $dark;
  color: $light;
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;

  &:hover {
    animation: 1.2s changeBackgroundColor infinite;
  }
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #121212;
  }
  20% {
    background-color: rgba(131, 58, 180, 1);
  }
  40% {
    background-color: rgba(253, 29, 29, 1);
  }
  60% {
    background-color: rgba(252, 176, 69, 1);
  }
  80% {
    background-color: rgba(131, 58, 180, 1);
  }
  100% {
    background-color: #121212;
  }
}
