---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="mx-auto py-44">
      <h1
        class="text-white text-5xl font-bold inline-flex flex-col gap-4 pb-10 m-0"
      >
        Hey, soy Sergio Majé
        <a
          href="http://linkedin.com/in/smaje"
          target="_blank"
          rel="noopener noreferrer"
					class="inline-flex w-fit"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>+1 año de experiencia. </span>
        <span class="text-yellow-200/80">Desarrollador Web. </span>
        <span class="text-blue-400/90">Desde Colombia. </span>
        <span class="opacity-80">Especializado en crear soluciones únicas.</span>
      </h2>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
