---
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portfolio de Sergio Majé - Desarrollador y Programdor Web con más de un año de experiencia"
  description="Contrata a Sergio Majé para crear tu aplicación web. Desarrollador Web. Simplificando e innovando tus soluciones."
>
  <main>
    <section>
      <h1
        class="text-white text-5xl font-bold inline-flex flex-col gap-4 pb-10 m-0"
      >
        Hey, soy Sergio Majé
        <a
          href="http://linkedin.com/in/smaje"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex w-fit"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>+1 año de experiencia.</span>
        <span class="text-yellow-200/80 font-semibold">Desarrollador Web.</span>
        <span class="text-blue-400/90">Desde Colombia.</span>
        <span class="opacity-80">Simplificando e innovado tus soluciones.</span
        >
      </h2>

      <nav class="flex gap-x-4 max-w-fit mt-8">
        <SocialPill href="http://linkedin.com/in/smaje">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/smaje99">
          <GitHubIcon class="size-6 text-white" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:smajefranco@gmail.com">
          <MailIcon class="size-6 text-white" />
          Contáctame
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 10rem 1rem 1rem 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
