<header class="flex justify-between items-center py-3 px-16">
  <img
    src="brand.svg"
    alt="Sergio Majé logo"
    width="48"
    height="48"
    class="size-12"
  />

  <nav class="flex gap-x-10 opacity-90">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
