<header class="header">
  <img
    src="brand.svg"
    alt="Sergio Majé logo"
    width="48"
    height="48"
  />

  <nav class="nav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.75rem 4rem;

    & > img {
      width: 3rem;
      height: 3rem;
    }

    & > .nav {
      display: flex;
      column-gap: 2.5rem;

      opacity: 0.9;
    }
  }
</style>
