---
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout-background"></div>

    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .layout-background {
    position: absolute;
    top: 0;
    z-index: -2;

    width: 100vw;
    height: 100dvh;

    background-color: rgb(10 10 10);
    background-image: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgb(120 119 198 / 30%),
      rgb(255 255 255 / 0)
    );
  }
</style>
