@import '@/styles/settings/colors';

.main {
  place-content: center;
  grid-template:
    'picture brand' 3fr
    'picture paragraph' 1fr
    'picture resume' 1fr /
    40% 60%;
  gap: 0 8rem;
}

.picture {
  grid-area: picture;
}

.brand-message {
  grid-area: brand;
  align-self: end;

  overflow: hidden;
}

.paragraph {
  grid-area: paragraph;
  font-size: 14pt;
  font-weight: 500;
  line-height: 1.5;
}

.resume {
  &-container {
    grid-area: resume;
    align-self: start;

    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &-file {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    font-size: 14pt;
    font-weight: 600;
    color: $light;
    background-color: $dark;
    padding: 1rem 2.4rem;
    border: 1px solid transparent;
    border-radius: 8px;

    text-decoration: none;
    transition: all 400ms ease-in-out;

    &:hover {
      color: $dark;
      background-color: $light;
      border-color: $dark;
    }

    & > svg {
      font-size: 15pt;
    }
  }

  &-contact {
    font-size: 14pt;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: underline;
    color: $dark;
  }
}
